<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:if="${course != null}" th:text="${course.getName()}"></title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:insert="header"></header>
<main>
	<section id="course-data" class="container with-shaddow">
		<h1 th:text="${course.getName()}"></h1>
		<table>
			<tbody>
			<tr>
				<td>Prowadzący</td>
				<td>
					<a href="#"
					   th:text="${course.getCoordinator().getName()+'('+course.getCoordinator().getEmail()+')'}">
						<!--						TODO faktyczny link-->
					</a>
				</td>
			</tr>
			<tr>
				<td>Opis</td>
				<td th:text="${course.getDescription()}"></td>
			</tr>
			<tr>
				<td>Łącznie klas</td>
				<td th:text="${classList.size()}"></td>
			</tr>
			</tbody>
		</table>
		<section id="buttons">
			<form th:action="${'/res-admin/courses/'+course.getId()+'/classes/add'}">
				<button class="option-button">Utwórz nową klasę</button>
			</form>
			<form th:action="${'/res-admin/courses/'+course.getId()+'/edit'}">
				<button class="option-button">Edytuj dane kursu</button>
			</form>
			<form th:action="${'/res-admin/courses/'+course.getId()+'/delete'}">
				<button class="red-button">Usuń kurs</button>
			</form>
		</section>
	</section>
	<section id="classes-list" class="container with-shaddow" th:if="${classList != null && classList.size() > 0}">
		<h2>Powiązane klasy</h2>
		<table>
			<thead>
			<tr>
				<th>Semestr</th>
				<th>Prowadzący</th>
				<th>Opcje</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="class : ${classList}">
				<td th:text="${class.getSemester()}"></td>
				<td>
					<a href="#" th:text="${class.getCoordinator().getName()+'('+class.getCoordinator().getEmail()+')'}">
						<!--						TODO faktyczny link-->
					</a>
				</td>
				<td class="table-buttons">
					<form th:action="${'/res-admin/classes/' + class.getId()}">
						<button class="option-button">Szczegóły</button>
					</form>
					<form th:action="${'/res-admin/classes/' + class.getId() + '/students/add'}">
						<button class="option-button">Dodaj uczniów</button>
					</form>
					<form th:action="${'/res-admin/classes/' + class.getId() + '/delete'}">
						<button class="red-button">Usuń klasę</button>
					</form>
				</td>
			</tr>
			</tbody>
		</table>
	</section>
</main>
</body>
</html>