<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Witaj adminie</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:insert="header"></header>
<main>
	<h1>Witaj </h1>
	<section id="manage-users" class="container with-shaddow">
		<h2>Zarządzaj użytkownikami</h2>
		<nav>
			<ul>
				<li><a href="/res-admin/users">Lista użytkowników</a></li>
				<li><a href="/res-admin/users/employees/add">Dodaj nowego pracownika</a></li>
				<li><a href="/res-admin/users/students/add">Dodaj nowego studenta</a></li>
				<li><a href="/res-admin/users/mass-add">Dodaj użytkowników z pliku</a></li>
			</ul>
		</nav>
	</section>

	<section id="manage-courses" class="container with-shaddow">
		<h2>Kursy</h2>
		<nav>
			<ul>
				<li><a href="/res-admin/courses/add">Utwórz nowy(TODO)</a></li>
				<li><a href="/res-admin/courses">Przejrzyj wszystkie(TODO)</a></li>
			</ul>
		</nav>
	</section>

	<section id="system-monitor" class="container with-shaddow">
		<h2>Monitor systemu</h2>
		TODO
	</section>
	<ul>
	</ul>
</main>
</body>
</html>