<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Witaj</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/employee_home.css">
</head>
<body>
<header th:insert="header"></header>
<main>
	<h1>Strefa pracownika</h1>
	<section id="main-menu">
		<a href="/res-employee/courses" class="big-button">
			<section class="big-button">
				<h2>Moje kursy</h2>
				<p>
					Przejdz do panelu zarządzania swoimi kursami. Możesz w nim podpiąć zasób pod
					kurs lub utworzyć nową grupę zasobóœ podpiętą pod kurs
				</p>

			</section>
		</a>
		<a href="/res-employee/classes" class="big-button">
			<section class="big-button">
				<h2>Moje klasy</h2>
				<p>
					Przejdz do panelu zarządzania swoimi klasami. Pozwala na podpięcie materiału pod klase
					i przeglądanie już podpiętych grup zasobów i zasobów.
				</p>
			</section>
		</a>
		<a href="/res-employee/resources" class="big-button">
			<section class="big-button">
				<h2>Moje Zasoby</h2>
				<p>
					Przejdz do panelu zarządzania swoimi kursami. Możesz w nim podpiąć zasób pod
					kurs lub utworzyć nową grupę zasobóœ podpiętą pod kurs
				</p>
			</section>
		</a>

	</section>
</main>
</body>
</html>