<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Witaj</title>
	<link rel="stylesheet" th:href="@{css/style.css} ">
</head>
<body>
<header th:insert="header"></header>
<main>
	<h1>Strefa pracownika</h1>
	<section id="courses">
		<h2>Moje kursy</h2>
		<table id="courses-table" th:if="${courses != null && courses.size() > 0}">
			<thead>
			<tr>
				<th>Nazwa</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="course : ${courses}"></tr>
			</tbody>
		</table>
		<p th:if="${courses == null || courses.size == 0}">
			Jeszcze nie prowadzisz żadnych kursów. Jeżeli prowadziszlub kurs
			a go tutaj nie widzisz, zgłoś się do administratora.
		</p>
	</section>
	<section id="classes">
		<h2>Moje klasy</h2>
		<table id="classes-table" th:if="${classes != null && classes.size() > 0}">
			<thead>
			<tr>
				<th>Nazwa</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="class : ${classes}"></tr>
			</tbody>
		</table>
		<p th:if="${classes == null || classes.size == 0}">
			Jeszcze nie prowadzisz żadnych klas. Jeżeli prowadzisz klasę
			a go tutaj nie widzisz, zgłoś się do administratora.
		</p>
	</section>
</main>
</body>
</html>