<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Witaj</title>
	<link rel="stylesheet" th:href="@{css/style.css} ">
</head>
<body>
<header th:insert="header"></header>
<main>
	<h1>Strefa pracownika</h1>
	<section id="courses" th:if="${courses != null && courses.size() > 0}">
		<h2>Moje kursy i klasy</h2>
		<table id="courses-table">
			<thead>
			<tr>
				<th>Nazwa</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="course : ${courses}"></tr>
			</tbody>
		</table>
	</section>
	<section id="classes">
		<h2>Moje klasy</h2>
	</section>
</main>
</body>
</html>