<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Moje udostępnione zasoby</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/employee_resources.css">
</head>
<body>
<header th:insert="header"></header>
<main>
	<section class="container with-shaddow">
		<h1>Moje udostępnione zasoby</h1>
		<section id="options-and-search">
			<form id="search">
				<input type="text" name="name" placeholder="Nazwa">
				<button type="submit" class="option-button">Szukaj</button>
				<button type="reset" class="red-button">Resetuj</button>
			</form>
			<section id="option-buttons">
				<form action="/res-employee/resources/add">
					<button class="option-button">Dodaj nowy</button>
				</form>
			</section>
		</section>
		<table th:if="${resources.size() > 0}">
			<thead>
			<tr>
				<th>Nazwa</th>
				<th>Opis</th>
				<th>Typ</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="res : ${resources}">
				<td th:text="${res.getName()}"></td>
				<td th:text="${res.getDescription()}"></td>
				<td th:text="${res.getType()}"></td>
				<td>
					<form th:action="${'/res-employee/resources/' + res.getId()}">
						<button class="option-button">Szczegóły</button>
					</form>
					<form th:action="${'/res-employee/resources/' + res.getId() +'/delete'}">
						<button class="red-button">Usuń</button>
					</form>
				</td>
			</tr>
			</tbody>
		</table>
		<p th:if="${resources.size() == 0} ">
			Nie masz jeszcze zasobów
		</p>
	</section>
</main>
</body>
</html>