<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Dodaj nowy zasób</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/employee_resources-add-select-type.css">
</head>
<body>
<header th:insert="header"></header>
<main>
	<section class="container with-shaddow">
		<h1>Wybierz typ zasobu</h1>
		<section id="resource-type-selection">
			<article class="container2">
				<form>
					<button class="option-button">Plik</button>
					<p>
						Plik będzie przechowywany na serwerze stud-res.
						Wygodne dla udostępniania dokumentów, prezentacji i obrazów.
					</p>
				</form>
			</article>
			<article class="container2">
				<form>
					<button class="option-button">Link do strony</button>
					<p>
						Pozwala na wskazanie studentom gdzie mogą szukać ciekawych materiałów. Tego
						typu powinieneś używać tylko wtedy, gdy nie jesteś autorem materiału, który udostępniasz(na
						przykład
						artykułu
						na Wikipedi).
					</p>
					<p>
						Do materiałów tego typu warto załączyć opis mówiący czego dotyczy dana strona (np. "Oficjalna
						dokumnetacja języka Java").
					</p>
				</form>
			</article>
			<article class="container2">
				<form>
					<button class="option-button">Link do repozytorium</button>
					<p>
						Pozwala na łatwe udostępnianie kodu. Użytkownicy przeglądając zasób będą
						miały opcje łatwe skopiowanie komendy do pobrania repozytorium.
					</p>
				</form>
			</article>
		</section>
	</section>
</main>
</body>
</html>