<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="UTF-8">
	<title>Ups</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:insert="header"></header>
<main>
	<section>
		<h1>Otóż nie tym razem</h1>
		<p>
			Niestety nie masz dostępu do tego zasobu. Jeżeli uważasz,
			że powinieneś mieć dostęp do tego zasobu, skontakuj się z administratorem.
		</p>
		<form action="/">
			<button class="option-button">Powrórt do menu głównego</button>
		</form>
	</section>
</main>
</body>
</html>