<body>
<nav class="menu-wrap">
	<input type="checkbox" class="toggler">
	<div class="hamburger">
		<div></div>
	</div>
	<div class="menu">
		<div>
			<ul>
				<!--TODO ładniejsze formatowanie-->
				<li sec:authorize="hasRole('STUDENT')"><a href="/res-student">Strefa Studenta</a></li>
				<li sec:authorize="hasRole('EMPLOYEE')"><a href="/res-employee">Strefa Pracownika</a></li>
				<li sec:authorize="hasRole('ADMIN')"><a href="/res-admin">Strefa Administratora</a></li>

				<li><a href="/search/employees">Znajdź pracownika</a></li>
				<li><a href="#">Przeglądaj wszystkie kursy</a></li>
				<li><a href="#">Moje konto</a></li>
				<li><a href="/logout">Wyloguj</a></li>
			</ul>
		</div>
	</div>
</nav>
</body>
