<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Witaj</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:insert="header"></header>
<main>
	<section class="container with-shaddow">
		<h2>Twoje kursy</h2>
		<table>
			<thead>
			<tr>
				<th>Nazwa</th>
				<th>Prowadzący</th>
				<th>Opis</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="course : ${courses}">
				<td th:text="${course.getName()}"></td>
				<td>
					<a href="#"
					   th:text="${course.getCoordinator().getName()+'('+course.getCoordinator().getEmail()+')'}">
					</a>
				</td>
				<td th:text="${course.getDescription()}"></td>
				<td>
					<form th:action="${'/res-student/courses/' + course.getId()}">
						<button class="option-button">Szczegóły</button>
					</form>
				</td>
			</tr>
			</tbody>
		</table>
	</section>
</main>
</body>
</html>